@model BookStore.Models.Binding_Model.BillBindingModel


@{
    ViewData["Title"] = "Create Bill";
}
<div class="container">
    <h4>Bill</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                @{
                    var quantity = 0;
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3>Name: @ViewBag.UserName</h3>
                <h4>Rank:  @ViewBag.Ranks.Name </h4>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <input asp-for="UserId" class="form-control" type="hidden" value="@Model.UserId" />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" type="tel" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>

                                </th>
                                <th>
                                    Book
                                </th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.OrderDetails.Count; ++i)
                            {
                                var detail = Model.OrderDetails.ElementAt(i);
                                quantity += detail.Quantity;
                                var image = "/images/book/default.jpg";
                                if (detail.Book.ImgURL != null)
                                {
                                    string img = detail.Book.ImgURL.Replace("\\", "/");
                                    image = "/" + img;
                                }
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>
                                        <img id="image" src="@(image)" />
                                    </td>
                                    <td>@(detail.Book.Title)</td>
                                    <td>@detail.Quantity</td>

                                    <td>@((detail.Payment).ToString())</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Total: <span>@ViewBag.Total</span></h4>
                </div>
                <div>
                    @{
                        decimal dis = Model.discount;
                        string discount = dis.ToString();
                    }
                    <h4>Discount: <span>@discount</span></h4>
                </div>
                @*    <div class="form-group">        *@
                <div class="form-group">
                    @{
                        decimal pay = Model.Payment;
                        var payment = pay.ToString();
                    }
                    <h4>Payment: @payment</h4>
                    <input asp-for="Payment" class="form-control" type="hidden" value="@Model.Payment" />
                </div>
                <div class="form-group">
                    <button asp-action="Create" asp-controller="Bills" asp-route-id="@Model.Id">Order</button>
                </div>
                <div class="form-group">
                    <input asp-for="Quantity" class="form-control" type="hidden" value="@quantity" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Home">Back to List</a>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    #image {
        width: 50px;
    }
</style>