@model BookStore.Models.Bill

@{
    ViewData["Title"] = "Bill Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: green">Order Successfully</h1>

<div>
    <hr />
    <h3>User Information: </h3>
    <p>Name: @ViewBag.UserName</p>
    <p>Phone: @Model.Phone</p>
    <p>Address: @Model.Address</p>
</div>
<div>
    <h3>Items List </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                   #
                </th>
                <th>

                </th>
                <th>
                    Book
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Payment
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var orderDetails = Model.OrderDetails.ToList();
            }
            @for (var i = 0; i < Model.OrderDetails.Count; ++i)
            {
                var detail = Model.OrderDetails.ElementAt(i);
                string payment = String.Format("{0:C}", detail.Payment);
                var image = "/images/book/default.jpg";
                if (detail.Book != null)
                {
                    string img = detail.Book.ImgURL.Replace("\\", "/");
                    image = "/" + img;
                }
                <tr>
                    <td style="width: 10px">
                       @(i+1)
                    </td>
                    <td style="width: 100px">
                        <img id="image" src="@(image)" />
                    </td>
                    <td >
                        @detail.Book.Title
                    </td>
                    <td >
                       @detail.Quantity
                    </td>
                    <td>
                        @payment
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>

    @{
        decimal t= (decimal) Model.Payment;
        var total = String.Format("{0:C}", t);
    }
    <h3 style="text-align: right; font-weight: bold">Total: @total</h3>
    <h4 style="font-style: italic">Note: @Model.Note</h4>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
<style>
    h3{
        color: darkslateblue
    }
    #image{
        width: 70px;
    }
</style>
             