@model IEnumerable<BookStore.Models.Orders>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h1>Order History</h1>

	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CreatedAt)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TotalPrice)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Note)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedAt)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TotalPrice)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Note)
					</td>
					<td>
						<a asp-action="OrderDetails" asp-route-id="@item.Id">Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
