@model BookStore.Models.Cart

@{
    ViewData["Title"] = "Cart";
}
<div class="container">
    <h1>Cart</h1>
    <form asp-action="Bill" method="get">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Book image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<Order_Details> CartOrder = ViewBag.CartOrder;
                }
                @foreach (var item in CartOrder)
                {
                    <tr>
                        <td id="img-container">
                            <img id="image" src="/@Html.DisplayFor(modelItem => item.Book.ImgURL)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Price)
                        </td>
                        <td>
                            <input class="quantity" value="@item.Quantity" type="number" name="quantity" id="@Model.Id" min="1" max="@item.Book.Quantity" data-book="@item.Book.Id" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            <a asp-controller="Carts" asp-action="Delete" asp-route-BookId="@item.BookId" asp-route-CartId="@item.CartId">Delete</a> |
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @{
                            decimal totalBill = @ViewBag.Total;
                            string total = totalBill.ToString();
                            if (totalBill == 0)
                            {
                                <h4>Total : 0</h4>
                            }
                            else
                            {
                                <h4>Total: @total</h4>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (totalBill <= 0)
                            {
                                <button type="submit" class="btn btn-primary" asp-action="Order" asp-controller="Orders" hidden> Order</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" asp-action="Order" asp-controller="Orders"> Order</button>
                            }
                        }
                    </td>
                </tr>

            </tbody>
        </table>
    </form>
</div>

<style>
    #image {
        width: 80px;
    }

    #img-container {
        width: 200px;
    }
</style>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".quantity").on("change", function () {
                var bookId = $(this).data("book");
                var quan = $(this).val();
                var cartId = $(this).id;

                // Make an AJAX request to update the quantity in the database
                $.ajax({
                    url: "/Orders/UpdateQuantity", // Replace with your controller action URL
                    type: "POST",
                    data: { bookId: bookId, quan: quan, cartId = cartId},
                    success: function (result) {
                        
                    },
                    error: function (error) {
                        // Handle errors if any
                        console.log("Error:", error);
                    }
                });
            });
        });
    </script>
}